 img {
  width: 276px;
  height: 97px;
}
 .container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
 a {
  text-decoration: none;
  color: #0b090b;
  margin-right: 8pt;
  margin-left: 8pt;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 47px;
  font-size: 15.1pt;
}
button {
  font-size: 20pt;
  background-color: transparent;
  border: 1px solid black;
  color: black;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 3px;
  border-radius: 10px;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 35rem;
  margin-right: 77pt;
}
